@using ShoeStoreTeam.Models;
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="cart-main" class="cart-main">
        <div class="section-padding"></div>
        <div class="container">
            <div class="woocommerce">
                <form method="post" class="col-md-12 col-sm-12 col-xs-12 no-padding">
                    <table class="shop_table cart">
                        <thead>
                            <tr>
                                <th class="product-name" colspan="2">Products</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Total</th>
                                <th class="product-remove">&nbsp;</th>
                            </tr>
                        </thead>
@{
    foreach (var item in Model)
    {
        <tbody>
            <tr class="cart_item">
                <td data-title="Product" class="product-thumbnail">
                    <a title="Product Thumbnail" href="#">
                        <img class="attachment-shop_thumbnail wp-post-image" src="@Url.Content("~/Content/Shopping/images/products/" + item.sHinhAnh)" alt="cart" />
                    </a>
                </td>
                <td class="product-name">
                    <a title="Product Name" href="#">@item.sTenGiay</a>
                </td>
                <td data-title="Price" class="product-price">
                    <span class="amount">@item.dDonGia</span>
                </td>
                <td data-title="Quantity" class="product-quantity">
                    <div class="quantity">
                        <span>@item.sSoLuong</span>
                    </div>
                </td>
                <td data-title="Total" class="product-subtotal">
                    <span class="amount">@item.ThanhTien</span>
                </td>
                <td class="product-remove">
                    <a title="Remove this item" class="remove" href="@Url.Action("XoaCart", "Cart", new { @magiay = @item.IMaGiay, @strURL = Request.Url.ToString() })"><img src="~/Content/Shopping/images/close.png" alt="close" /></a>
                </td>
            </tr>
            

        </tbody>
    }
}
                    </table>                
                </form>


        <div class="cart-collaterals row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="cart_totals">
                    <h4>Cart Totals</h4>
                    <div class="cart_totals_table">
                        <table>
                            <tbody>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td><strong><span class="amount">@ViewBag.TongTien</span></strong> </td>
                                </tr>
                                
                            </tbody>
                            
                        </table>
                        <div class="wc-proceed-to-checkout">
                            @*<a href="@Url.Action("DatHang","Order")"><input type="submit" value="Proceed to Checkout" /></a>*@
                            <a title="Proceed To CheckOut" class="btn" href="@Url.Action("DatHang","Order")">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                
            </div>
        </div><!-- container -->
        <div class="section-padding"></div>
    </div><!-- Cart /- -->

